@font-face {
    font-family: "bootstrap-icons";
    font-display: swap;
    src:
        url("../fonts/bootstrap-icons.woff2") format("woff2"),
        url("../fonts/bootstrap-icons.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
